<table id="student-list" class="maintable">
    <thead>
       <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Register date</th>
          <th>Select</th>
      </tr>
    </thead>
    {% for i in ledger_vouchers  %}
    <tbody>

  <tr class="text-black tr-hover table-link text-center student" id="{{i.id }}">
     <td>{{ i.Date }}</td>
     <td>{{ student.age }}</td>
     <td>{{ student.register_date }}</td>
  <td>
<button type="button" class="btn btn-secondary addteacher" student-id="{{ i.id }}">Update Teacher</button>
</td>
<tr>
          
        </tbody>

{% endfor %}
      </table>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
      $('.addteacher').click(function (e) {
        
              var studentID = $(this).attr('student-id');
            $.post("{% url 'Index' %}",
                 { 
               id:studentID 
                },
      function(data, status){
        // you can do what ever you want here after success 
        $('#'+studentID).hide();
        });
               
      })
      </script>     