


<table class="table" border="1">
    <thead>
        <tr>
            <th rowspan="3" colspan="2"   class="align-middle text-white "> 
                <h6 class="d-flex align-items-sm-start par p-1 py-1" style="margin-left: 20px;"  >Inflow</h6>
                </th>
                <th rowspan="3"  class="text-white " style="width: 30px; text-align: center; width: 15%;">
                <h6 style=" font-size: 15px;">ABC Pvt LTD<br>
                    1-Apr-22 to 30-Apr-22</h6>
                </th>

                <th rowspan="2" colspan="2"   class="align-middle text-white "> 
                    <h6 class="d-flex align-items-sm-start par p-1 py-1" style="margin-left: 20px;">Outflow</h6>
                    </th>
                    <th rowspan="3"  class="text-white " style="width: 30px; text-align: center; width: 15%;">
                    <h6 style=" font-size: 15px; " >ABC Pvt LTD<br>
                        1-Apr-22 to 30-Apr-22</h6>
                    </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3"  class="td1" width="50%">
                <table class="table   " > 

                    <!-- <div class="table-row" data-href="" >

                        <span style="text-align: start;" width="50%">Branch / Division fgdfgdg</span>
                        <span style="float: right;">25452257545</span>

                    </div> -->
                    <tbody>
                        <tr class="table-row" data-href="" >
               
                            <td  style="text-align: start;" width="80%">gtrtwrtertgfdgdfgdsfasgfzsgsgdgsggs</td>
                            <td style="text-align: end;">25452257545</td>
                            
   
                        </tr>
                        <tr class="table-row" data-href="" >
               
                            <td  style="text-align: start;">
                                <h6 class="d-flex align-items-sm-start par foot" style="margin-left: 20px;"><b>Total</b></h6>
                            </td>
                            <td style="text-align: end;"><b>25452</b></td>
                            
                        </tr>
                        

                       
                        
                    </tbody>
                </table>



            </td>
            <td>sdfsfsaf</td>
        </tr>
        <tr>
            <td colspan="2">egtgefwgfetwghf</td>
        </tr>
    </tbody>
</table>